html, body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  background-color: blue;
  text-align: center;
  color: white;
}

textarea {
  max-width: 50vw;
  padding: 20px;
}

button {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(61, 190, 10);
  color: white;
  font-weight: bolder;
}

#lettersDiv, #wordsDiv {
  font-weight: bolder;
  font-size: 20px;
  color: white;
  margin: 10px;
}

@media only screen and (min-width: 600px) {
  body {
    padding: 0 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    max-width: 190px;
  }
  div {
    display: inline-block;
  }
}